        @font-face {
            font-family: "TypeWriter";
            src: url('./Fonts/ofont.ru_X\ Typewriter.ttf') format('truetype');
        }
        
        /* Возможно позже поменять с body на другой селектор, более локальный */
        body {
            background: linear-gradient(300deg, #DB0108, #752F31, #000000);
            background-size: 600% 10%;
            animation: gradient-animation 14s ease infinite;
        }

        @keyframes gradient-animation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
          
          #header {
            padding: 0;
            margin: 0;
        }


      .ankh-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .nav-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

      .ankh {
        max-height: 40vh;
    }

        button{
          width: auto;
          height: 60px;
          padding: 2;
          background-color: #050801;
          color: #A30003;
          font-family: "TypeWriter", sans-serif;
          font-weight: bold;
          border: none;
          border-radius: 10px;
          letter-spacing: 4px;
          overflow: hidden;
          cursor: pointer;
          transition: background-size 0.4s ease, transform 0.4s ease;
          background-image: url('./images/FangsPng.png');
          background-size: 0%;
          background-position: center;
          background-repeat: no-repeat;
        }

        button:hover {
            background: #26001b;
            color: #00EB68;
            box-shadow: none;
            background-image: url('./images/FangsPng.png'); 
            background-size: 120%;
            background-position: center;
            background-repeat: no-repeat;

            -ms-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);

            -moz-transition: all 1.5s;
            -webkit-transition: all 1.5s;
            -o-transition: all 1.5s;
            transition: all 1.5s;
      }

        .lang-btn {
          width: 150px;
          height: 40px;
          font-size: 1em;
          justify-content: start;
      }

      .text {
        color: #F5F5F5;
        text-shadow: 
        -2px -2px 0 #000,  
         2px -2px 0 #000,
        -2px  2px 0 #000,
         2px  2px 0 #000;
        font-family: "TypeWriter", sans-serif;
        font-weight: bold;
      }

      #quote {
        width: 50%;
        margin: 0 auto; /* Центрирует quote */
        padding: 10px; /* Внутренние отступы */
      }

      .text-main {
        width: 80%;
        font-size: 20px;
        margin: 0 auto;
      }

      @media (max-width: 767px) {
        #quote {
            width: 90%;
            padding: 10px;
        }
    
        .text-main {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
        }
    }